body {
  background-color: rgb(109, 108, 67);
  text-align: center;
}

h1{
  text-align: center;
  color: rgb(230, 167, 58);
  font-size: 250%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: mintcream;
}


h3{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(158, 160, 160);
 }

h5{
 
 color: rgb(255, 228, 228);
}

p{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 130% ;
  color: rgb(218, 209, 209);
}

a{
  text-decoration: none;
}